<div class="hero">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
        <h2>¡Bienvenido/a!</h2>
        <div class="cloud">Hace millones de años, los dinosaurios se extinguieron. A raiz de la cuarentena
        por el coronavirus a nivel mundial y la inactividad en las calles, los dinosaurios 
        han resurgido y necesitan un hogar.
        </div>
        <button (click)="goTo()">Quiero adoptar</button>
</div>
<div id="dinosaur"><app-dinosaur></app-dinosaur></div>